@import "./components/variable";
@import "./components/container";
@import "./components/todo";
@import "./components/page-actions";
@import "./components/callout-auth";
.page-title{
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
